################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StrategicFS Code Test Fixture/obj/Release/netcoreapp3.1
